.hugo_build.lock
public
~$IPA_Zeitplan.xlsx
~$*.xlsx
.DS_Store
/content/97-Verzeichnisse/Quellcode/shiftplanner/node_modules
/content/97-Verzeichnisse/Quellcode/shiftplanner/test/bats
/content/97-Verzeichnisse/Quellcode/shiftplanner/test/test_helper
/99_Anhang/shiftplanner_quellcode/test/bats
/99_Anhang/shiftplanner_quellcode/test/test_helper
/99_Anhang/A04_Quellcode/test/bats
/99_Anhang/A04_Quellcode/test/test_helper
/99_Anhang/A04_Quellcode/pnpm-lock.yaml
/Examples/
/Context Window